.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.navbar-logo {
    height: auto;
    width: auto;
    object-fit: contain;
}

.navbar-links {
    display: inline-flex;
    justify-content: center;
    gap: 26px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}

.navbar-links a::after {
    display: block;
    content: attr(data-text);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.navbar-links a:hover {
    font-weight: bold;
}




