* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 120px;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}


h1 {
  font-size: 48px;
}

button {
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 10px,20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: aqua;
}